:root {
  --text-color: #f0f4f5;
  --accent-color: #263343;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  position: relative;
  background: #468ac2;
  color: var(--text-color);
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.welcome h2 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  margin: 0 0 10px;
  color: var(--text-color);
}
.welcome button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: white;
  background-color: rgb(22, 26, 29);
}

.welcome p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.705);
  line-height: 1.5;
  margin: 10px;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 330px;
  background-color: skyblue;
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgb(49, 79, 112);
  animation: waves 16s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 18s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
