<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to NittanyPATH!</title>

    <!-- flask link css -->
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="welcome">
      <div class="content">
        <header class="header">
          <h2>WELCOME TO NITANNY PATH</h2>
        </header>

        <button
          class="waves-effect waves-light btn"
          type="button"
          onclick="location.href='/login'"
        >
          Login
        </button>

        <div class="main">
          <p>
            Welcome to our wonderful school! We have many different computer
            science and mathematic that you never learned of. This website helps
            you to get everything track within the course, schedule, grade,
            relationship, and etc. Come and use this NittanyPATH!
          </p>
        </div>

        <div class="waves"></div>
      </div>
    </section>
  </body>
</html>
