<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NittanyPATH - Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- flask link css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />

    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="login">
      <header>
        <h1>NittanyPATH</h1>
      </header>

      <form action="/login" , method="POST">
        <!-- email input -->
        <div class="input">
          <label for="email">Email:</label>
          <input
            class="email-input"
            type="text"
            name="iemail"
            size="30"
            maxlength="30"
            required
            class="form-control"
            placeholder="Enter without @nittany.edu"
          />
          <br />
        </div>

        <!-- password input -->
        <div class="input">
          <label for="password">Password:</label>
          <input
            class="password-input"
            type="password"
            name="ipassword"
            size="26"
            maxlength="30"
            required
            class="form-control"
          />
          <br />
        </div>

        <!-- login button -->
        <button class="login-button" type="submit">Login</button>
      </form>
      <!-- <p>{{ notice }}</p> -->
    </div>
  </body>
</html>
